@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<!-- Features -->
<section class="features container">
    <div class="features-box">
        <p class="features-title">Features</p>
        <h1>Our Accounting is trusted by thousand of companies</h1>
        <button class="btn btn-theme" href="#">
            Learn More
        </button>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-4" style="width: 100%">
        <div class="col">
            <div class="card">                        
                <i class="fa-solid fa-handshake"></i>                      
                <div class="card-body">
                    <h5 class="card-title">Business Advice</h5>
                    <p class="card-category">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">                        
                <i class="fa-regular fa-lightbulb "></i>                      
                <div class="card-body">
                    <h5 class="card-title">Business Advice</h5>
                    <p class="card-category">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">                        
                <i class="fa-solid fa-building-columns"></i>                      
                <div class="card-body">
                    <h5 class="card-title">Business Advice</h5>
                    <p class="card-category">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">                        
                <i class="fa-solid fa-box"></i>                     
                <div class="card-body">
                    <h5 class="card-title">Business Advice</h5>
                    <p class="card-category">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
    </div>
</section> 