@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


<header>
<!-- TOP MENU -->
<div class="top-menu">
    <div class="container">
        <!-- SITE SETTINGS -->
        <div class="site-settings"></div>                
        <!-- MENU LINKS -->
        <div class="menu-links">
            <span class="links">
                
                <a href="#"><i class="fa-solid fa-phone-volume"></i> +46 (8) 121 470 50</a>
                
                <a href="#"><i class="fa-solid fa-envelope-circle-check"></i> info@crito.com</a>
                
                <a href="#"><i class="fa-solid fa-location-dot"></i> Sveavägen 31, 111 34 STOCKHOLM</a>
            </span>
        </div>                    
        <!-- SOCIAL MEDIA LINKS -->
        <div class="social-media-icons">
            <span class="social-media">
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                
            </span>
        </div>
    </div>
</div>
<!-- MAIN MENU -->
<div class="main-menu">
    <div class="container">
        <div class="brand">
            <!-- LOGGO IMG -->
            <a href="index.html"><img src="~/images/logos/logotype.svg" alt="Crito"></a>
        </div>
    </div>
    <nav>
        <div class="container">
            <div class="browse-categories">
                
            </div>
            <div class="login">
                <!-- navigation links -->
                <a href="/" class="nav-link">Home</a>
                <a href="#" class="nav-link">Service</a>
                <a href="#" class="nav-link">News</a>
                <a href="/contact/" class="nav-link">Contact</a>
                <!-- login button -->
                <div class="login-btn">                                
                    <button class="btn btn-theme">Login</button>
               
            </div>
            
        </div>
    </nav>
</div>
</header>