@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<!-- our service section -->
<section class="services">
    <div class="services-container container">
        <div class="our-service-description">            
            <p class="our-service about-title">Our Services</p>
            <h1>We Provide The Best Service For Consulting</h1>
        </div>
        <div class="row row-cols-4" style="width: 100%">
            <div class="col">
                <div class="card-service">                        
                    <div class="card-body">
                        <i class="line">____</i>                           
                        <h5 class="card-title-service">Business Advice</h5>
                        <p class="card-category">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis in nam possimus.</p>
                        <button class="arrow-btn"><i class="fa-solid fa-arrow-right"></i></button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card-service">                        
                    <div class="card-body">
                        <i class="line">____</i>                           
                        <h5 class="card-title-service">Startup Business</h5>
                        <p class="card-category">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis in nam possimus.</p>
                        <button class="arrow-btn"><i class="fa-solid fa-arrow-right"></i></button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card-service">                        
                    <div class="card-body">
                        <i class="line">____</i>                           
                        <h5 class="card-title-service">Financial Advice</h5>
                        <p class="card-category">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis in nam possimus.</p>
                        <button class="arrow-btn"><i class="fa-solid fa-arrow-right"></i></button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card-service">                        
                    <div class="card-body">
                        <i class="line">____</i>                           
                        <h5 class="card-title-service">Risk Management</h5>
                        <p class="card-category">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis in nam possimus.</p>
                        <button class="arrow-btn"><i class="fa-solid fa-arrow-right"></i></button>
                    </div>
                </div>
            </div>                    
    </div>
    <div>
        <button class="btn-service">Browse Services</button> 
    </div>                       
</section>