@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<!-- SHOWCASE -->
<section class="showcase">
    <div class="container"> 
        <div class="showcase-body">
            <h1>We Provide The Best Business
                Solutions</h1>
            <p>Establish your vision and value proposition and turn them into testable prototypes.</p>
            <!-- SHOWCASE BUTTON -->
            <a href="#" class="btn btn-theme">Get Consulting</a>
            <a href="#" class="btn btn-theme">Learn More</a>
        </div>
            <!--SHOWCASE IMAGE -->
            <img src="~/images/showcase-image.svg" alt="thinkful man">
        <img src="~/images/background-effects/background-lines-right.svg" />
    </div>
</section>