@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="subscribe">
    <div class="container">
        <div class="subscribe-now">                
            <p>Get News Updates By Signup</p>
        </div>
        <div class="subscribe-form">
            <form id="subscribeForm">
                <input id="subscribeinput" type="text" placeholder="Enter email address">
                <a href="#" class="btn btn-theme">Subscribe</a>
            </form>
        </div>            
    </div>
</section>