@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<!-- WEBSHOP INFO -->
<section class="webshop-info">
    <div class="container">
        <div class="info-box">
            <img src="~/images/logos/paperz.svg" alt="Free shipping">
        </div>
        <div class="info-box">
            <img src="~/images/logos/dorfus.svg" alt="24/7 support">
        </div>
        <div class="info-box">
            <img src="~/images/logos/martino.svg" alt="Online payment">
        </div>
        <div class="info-box">
            <img src="~/images/logos/square.svg" alt="Fast delivery">
        </div>
        <div class="info-box">
            <img src="~/images/logos/gobona.svg" alt="Fast delivery">
        </div>

    </div>
</section>
